* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#films {
    width: 100%;
    margin: 20px;
}

.film {
    margin: 10px;
}

.film__title {
    font-family: 'Coustard', serif;
    font-size: medium;
}