* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", serif;
    font-size: medium;
}

#films,
form {
    width: 100%;
    margin: 20px;
}

.film {
    margin: 10px;
}

#srch_field {
    margin: 10px 30px;
}
